jupyterlab>=4.2.3
jupyterlite
jupyterlab-myst
jupyterlab-deck
jupyterlab-fonts
jupyterlab-theme-KULeuven
ipympl>=0.9.4
ipywidgets>=8.1.3
numpy
scipy
matplotlib
sympy
scikit-rf
networkx
pyspice
schemdraw
jupytercards>=3.0.0
nbformat