jupyterlab<4.0.0
jupyterlite
jupyterlab-myst
jupyterlab-deck
jupyterlab-fonts
jupyterlab-theme-KULeuven
ipympl>=0.8.2
ipywidgets>=8.0.0
numpy
scipy
matplotlib
sympy
scikit-rf
networkx
pyspice
schemdraw
jupytercards
nbformat