.ipynb_checkpoints/
*.log
_build
.DS_Store
.jupyter_cache
jupyter_execute
src/_build/.jupyter_cache
src/_build/jupyter_execute
desktop.ini
__pycache__
**/*Zone.Identifier
*ipynb.pptx
later toe te voegen2/
translate/
ppt/
common/fonts/
Untitled.ipynb

AnalogeElektronica2/_static/custom.css
AnalogeElektronica2/_templates
AnalogeElektronica2/images/l7_buck.svg
AnalogeElektronica2/oefening_mppt.ipynb
AnalogeElektronica2/images/ESSERC2025_mppt delft.png
AnalogeElektronica2/*.pptx

ToegepasteAnalogeElektronica/oef9.ipynb
ToegepasteAnalogeElektronica/SmithKaartOefening9.ipynb
ToegepasteAnalogeElektronica/_static/custom.css
ToegepasteAnalogeElektronica/*.pptx

MicroEnNanoTechnologie/_static/videos/making_of_a_4-layer_pcb_old.mp4
MicroEnNanoTechnologie/*.pptx

AnalogDesignTechniques/*.pptx
